{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'login.css' %}" />

<audio autoplay loop src="Music/GenderangUniversitasIndonesia.mp3"></audio>

<div class="login">

    <form method="POST">
        {% csrf_token %}

        <body
            style="background-image: url(https://upload.wikimedia.org/wikipedia/id/thumb/0/0f/Makara_of_Universitas_Indonesia.svg/1200px-Makara_of_Universitas_Indonesia.svg.png);">
        </body>
        <div class="container">
            <div class="brand-logo"></div>
            <div class="brand-title">LOGIN</div>
            <div class="inputs">

                <div class="form">
                    <label>USERNAME</label>
                    <input type="text" name="username" placeholder="Username" />
                    <label>PASSWORD</label>
                    <input type="password" name="password" placeholder="Password" />
                    <button class="submit" type="text">LOGIN</button>
                    <a href="{% url 'todolist:register' %}">Create Account</a>
                    {% if messages %}

                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
    </form>
</div>
</div>

{% endblock content %}