{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'register.css' %}" />

<form method="POST">
    {% csrf_token %}

    <body
        style="background-image: url(https://upload.wikimedia.org/wikipedia/id/thumb/0/0f/Makara_of_Universitas_Indonesia.svg/1200px-Makara_of_Universitas_Indonesia.svg.png);">
    </body>
    <div class="container">
        <div class="brand-logo"></div>
        <div class="brand-title">REGISTRATION</div>
        <div class="inputs">

            {{ form.as_table }}

            <div class="login">
                <a href="{% url 'todolist:register' %}">Create Account</a>
            </div>
            <button><a href="{% url 'todolist:logout' %}">Sign In</a></button>
        </div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</form>

{% endblock content %}