{% extends 'base.html' %}

{% block content %}

  <h1> Assignment-3 PBD </h1>

  <h5>Name: </h5>
  <b>{{name}}</b>

  <h5>Student ID: </h5>
  <b>{{id}}</b>

  <h5>Message: </h5>
  <b>{{message}}</b>

  <body bgcolor=”#FFFF00">

  <table border = "6" bordercolor = "yellow">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for mywatchlist in list_mywatchlist %}
    <tr>
        <th>{{mywatchlist.watched}}</th>
        <th>{{mywatchlist.title}}</th>
        <th>{{mywatchlist.rating}}</th>
        <th>{{mywatchlist.release_date}}</th>
        <th>{{mywatchlist.review}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}